{{ 'accordion.css' | asset_url | stylesheet_tag }}


{% comment %}<section class="accordion-wrapper">{% endcomment %}
    {% comment %}<div class="container">{% endcomment %}
        {% comment %}<div class="accordion">{% endcomment %}
            {% comment %}<input type="hidden" id="cityName" value="{{ section.settings.city_name }}" />{% endcomment %}
            {% comment %}<input type="hidden" id="apiKey" value="{{ section.settings.api_key }}" />{% endcomment %}
{% comment %}{% endcomment %}
            {% comment %}{% if section.settings.city_name != blank %}{% endcomment %}
                {% comment %}<h2 class="section-heading">Weather data for "{{ section.settings.city_name }}"</h2>{% endcomment %}
            {% comment %}{% endif %}{% endcomment %}
            {% comment %}<div class="accordion-content"></div>{% endcomment %}
        {% comment %}</div>{% endcomment %}
    {% comment %}</div>{% endcomment %}
{% comment %}</section>{% endcomment %}

<div id="react-accordion"></div>

{% schema %}
{
"name": "Accordion",
"settings": [
{
"type": "text",
"id": "api_key",
"label": "API_KEY"
},
{
"type": "text",
"id": "city_name",
"label": "City Name"
}
],

"presets": [
{
"name": "Accordion",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}

{% comment %}{{ 'accordion.js' | asset_url | script_tag }}{% endcomment %}

<script defer type="module" src="{{ "accordion.bundle.js" | asset_url }}"></script>

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
